<launch>
  <node pkg="octocostmap" type="octocostmap" name="octomapper">
    <param name="map_frame" value="/odom" />
    <param name="map_resolution" value="0.025" />
    <param name="pc_buffer" value="1" />
    <param name="publish_frequency" value="10" />
    <remap from="cloud" to="/camera/depth/points_sliced" />
  </node>

</launch>
