<launch>
	<node pkg="otto_sensors" type="sonarReader.py" name="sonarReader" output="screen" respawn="true" >
		<param name="port_name" value="/dev/sensors/ftdi_A900ceGt" />
	</node>
	
	<include file="$(find otto_sensors)/launch/tf_sonars.launch" />
	
	<include file="$(find otto_sensors)/launch/filters_sonars.launch" />
</launch>
