<launch>
  
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_hokuyo">
      <rosparam command="load" file="$(find otto_sensors)/config/lasershadow.yaml" />
      <remap from="scan" to="/hokuyo/scan" />
      <remap from="scan_filtered" to="/hokuyo/scan_shadows" />
    </node>
    
    <node pkg="otto_sensors" type="laserscan_threshold" name="hokuyo_threshold">
      <remap from="scan" to="/hokuyo/scan_shadows" />
      <remap from="scan_filtered" to="/hokuyo/scan_final" />
      <rosparam>
        angle_min: 0.0
        angle_width: 1.3195
        thresh_dist: 0.36
        reflect_angles: True
      </rosparam>
    </node>
    
    <node pkg="otto_sensors" type="laserscan_threshold" name="neato_threshold">
      <remap from="scan" to="/neato/scan" />
      <remap from="scan_filtered" to="/neato/scan_final" />
      <rosparam>
        angle_min: 0.0
        angle_width: 2.0735
        thresh_dist: 0.3
        reflect_angles: True
      </rosparam>
    </node>

</launch>
