<launch>
  <!-- Static TF publishers for the Kinect's interior offsets. -->
  <include file="$(find openni_camera)/launch/kinect_frames.launch" />
  
  <!-- Transform from Otto's base_link to Otto's Kinect. -->
  <node pkg="tf" type="static_transform_publisher" name="kinect_static_tf_pub" args="-0.1651 0 1.7272 0 0.174532925 0 base_link openni_camera 100" />
  
</launch>