<launch>
  <node pkg="tf" type="static_transform_publisher" name="neato_static_tf_pub" respawn="true" args="0.2667 0 0.1524 3.14159265358979 0 0 base_link neato_laser 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="hokuyo_static_tf_pub" respawn="true" args="0.235 0 0.06109 0.052360 0 3.14159265358979 base_link hokuyo_laser 100" />

</launch>