<launch>

	<node pkg="wheelchair_base_controller" type="joy2chair.py" name="joy2chair">
        	<param name="port_name" value="/dev/ttyUSB1" />
		<remap from="joy" to="joy" />
	</node>

	<node pkg="sonar_joy" type="arduinoReader.py" name="ardRead" output="screen">
		<param name="port_name" value="/dev/ttyUSB0" />
	</node>

	<node pkg="joy" type="joy_node" name="joy_node">
		<param name="autorepeat_rate" value="20.0" />
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
	</node>

</launch>
