<launch>
  
  	<node pkg="joy" type="joy_node" name="joy_node" respawn="true" >
		<param name="autorepeat_rate" value="20.0" />
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
	</node>

	<node pkg="wheelchair_base_controller" type="joy2chair.py" name="joy2chair" output="screen" respawn="true" >
        	<param name="port_name" value="/dev/sensors/ftdi_A600aivC" />
	</node>

</launch>
