<launch>

  <include file="$(find wheelchair_base_controller)/launch/bringup_joy_simple.launch" />

  <!--node pkg="wheelchair_base_controller" type="joy2twist.py" name="joytwisterizer">
    <rosparam file="$(find wheelchair_base_controller)/config/ottoControlConfig.yaml" command="load" />
  </node>

  <node pkg="wheelchair_base_controller" type="twist2joy.py" name="joyuntwister">
    <rosparam file="$(find wheelchair_base_controller)/config/ottoControlConfig.yaml" command="load" />
  </node-->

  <!--node pkg="wheelchair_base_controller" type="imu_quatcaster.py" name="imu_broadcaster">
    <param name="port_name" value="/dev/sensors/ftdi_A700eHSG" />
  </node-->

  <!--node pkg="wheelchair_base_controller" type="otto_ekf.py" name="Otto_EKF">
    <rosparam file="$(find wheelchair_base_controller)/config/ottoEKFConfig.yaml" command="load" />
    <rosparam file="$(find wheelchair_base_controller)/config/ottoControlConfig.yaml" command="load" />
  </node-->

</launch>
