<launch>
   <node pkg="nodelet" type="nodelet" name="kinect_manager" args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="kinect_driver" args="load openni_camera/OpenNINodelet kinect_manager" output="screen">
	  <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
	  <rosparam>
		device_id: #1
		rgb_frame_id: openni_rgb_optical_frame
		depth_frame_id: openni_depth_optical_frame
		use_indices: false
		depth_registration: true
		image_mode: 5
		depth_mode: 5
		debayering: 2
		depth_time_offset: 0
		image_time_offset: 0
	  </rosparam>
  </node>

  <include file="$(find openni_camera)/launch/kinect_frames.launch" />

  <node pkg="nodelet" type="nodelet" name="passthrough_z_cam" args="load pcl/PassThrough kinect_manager" output="screen">
    <remap from="~input" to="/camera/rgb/points" />
    <remap from="~output" to="/camera/rgb/points_z_filtered" />
    <!--remap from="~input_frame" to="/base_link" /-->
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 2.0
      filter_limit_negative: False
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="passthrough_y_cam" args="load pcl/PassThrough kinect_manager" output="screen">
    <remap from="~input" to="/camera/rgb/points_z_filtered" />
    <remap from="~output" to="/camera/rgb/points_zy_filtered" />
    <!--remap from="~input_frame" to="/base_link" /-->
    <rosparam>
      filter_field_name: y
      filter_limit_min: -1.0
      filter_limit_max: 1.0
      filter_limit_negative: False
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="voxel_grid_z" args="load pcl/VoxelGrid kinect_manager" output="screen">
    <remap from="~input" to="/camera/rgb/points" />
    <remap from="~output" to="/camera/rgb/points_voxel_z" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 5.0
      filter_limit_negative: False
      leaf_size: 0.01
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="voxel_grid_y" args="load pcl/VoxelGrid kinect_manager" output="screen">
    <remap from="~input" to="/camera/rgb/points_voxel_z" />
    <remap from="~output" to="/camera/rgb/points_voxel_zy" />
    <rosparam>
      filter_field_name: y
      filter_limit_min: -5.0
      filter_limit_max: 5.0
      filter_limit_negative: False
      leaf_size: 0.01
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="voxel_grid_x" args="load pcl/VoxelGrid kinect_manager" output="screen">
    <remap from="~input" to="/camera/rgb/points_voxel_zy" />
    <remap from="~output" to="/camera/rgb/points_voxel_zyx" />
    <rosparam>
      filter_field_name: x
      filter_limit_min: -5.0
      filter_limit_max: 5.0
      filter_limit_negative: False
      leaf_size: 0.01
    </rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="kinectTFPub" args="0.1651 0 1.7272 0 0.174532925 0 base_link openni_camera 100" />

</launch>
