<launch>
	<node pkg="pr2_computer_monitor" type="cpu_monitor.py" name="otto_cpu_monitor" args="--diag-hostname=ottoboti5">
		<param name="check_ipmi_tool" value="false" />
		<param name="enforce_clock_speed" value="false" />
		<param name="num_cores" value="4" />
	</node>
	<node pkg="pr2_computer_monitor" type="hd_monitor.py" name="otto_hd_monitor" args="--diag-hostname=ottoboti5" />
</launch>
